project     = "three-tier"
environment = "prod"

primary_region = "us-east-1"
dr_region      = "us-west-2"

# VPC CIDRs
primary_vpc_cidr = "10.0.0.0/16"
dr_vpc_cidr      = "10.1.0.0/16"

# Subnets — primary
primary_azs            = ["us-east-1a", "us-east-1b"]
primary_public_subnets = ["10.0.1.0/24", "10.0.2.0/24"]
primary_web_subnets    = ["10.0.11.0/24", "10.0.12.0/24"]
primary_app_subnets    = ["10.0.21.0/24", "10.0.22.0/24"]
primary_db_subnets     = ["10.0.31.0/24", "10.0.32.0/24"]

# Subnets — DR
dr_azs            = ["us-west-2a", "us-west-2b"]
dr_public_subnets = ["10.1.1.0/24", "10.1.2.0/24"]
dr_web_subnets    = ["10.1.11.0/24", "10.1.12.0/24"]
dr_app_subnets    = ["10.1.21.0/24", "10.1.22.0/24"]
dr_db_subnets     = ["10.1.31.0/24", "10.1.32.0/24"]

# Compute
web_instance_type    = "t3.small"
app_instance_type    = "t3.small"
web_min_size         = 1
web_max_size         = 4
web_desired_capacity = 2
app_min_size         = 1
app_max_size         = 4
app_desired_capacity = 2
trusted_cidr         = "0.0.0.0/0"  # Restrict to your IP in production

# Database
db_instance_class   = "db.t3.micro"
db_name             = "appdb"
db_username         = "admin"
deletion_protection = false  # Set true in real production

# DNS — must be a domain you own
domain_name         = "threetier.ankitjodhani.club"
create_route53_zone = true
